/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/03/2016, 10:31:44 AM
    Author     : PabloAnibal
*/

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html,body{
	width: 100%;
	height: 100%;
	font-family: helvetica;
}

.container{
  display: flex;
  flex-flow: row;
}

section{
  padding: 35px 0px;
  min-height: 400px;
}

nav{
  display: flex;
  justify-content: flex-end;
  div{
	  padding: 10px 15px;
	  cursor: pointer;
	  transition: all 3s ease ease;
  }
  div:hover{
	  background-color: rgba(0, 0, 0, 0.8);
	  color: white;
  }
}

div.niceForm{
	position: absolute;
	right: 0;
	display: none;
	width: 250px;
	background: rgba(255, 255, 255, 0.3);
	padding: 5px;
	border-radius: 5px;
	input{
		display: block;
		width: 100%;
		padding: 8px;
		border-radius: 5px;
		border: 1px solid rgba(0, 0, 0, 0.8);
	}
	button{
		width: 100%;
	}
	input, button{
		margin: 0 0 2px 0;
	}
}
